* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family:'Marr Sans Medium';
  src: url('./assets/MarrSansCondensed-Medium-Web.woff2') format("woff2");
}

@font-face {
  font-family:'Marr Sans Semibold';
  src: url('./assets/MarrSansCondensed-Semibold-Web.woff2') format("woff2");
}

@font-face {
  font-family:'GT America';
  src: url('./assets/GT-America-Standard-Regular.woff2') format("woff2");
}

body, textarea{
  font-family: 'GT America';
}
h2 {
  font-family: 'Marr Sans Semibold';
}
button {
  font-family: 'Marr Sans Medium';
}

:root{
  --comp-col-01:#000000;
  --comp-col-02:#f8f7f5;
  --comp-col-03:#d6f246;
  --comp-col-04:#294cff;
  --comp-col-05:#ff4f00;
}