html, body, #root, .MobileWrapper {
  height: 100%;
}

.MobileWrapper{
  background-color: var(--comp-col-01);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.FadeOut{
  transition: 2s;
  opacity: 0;
}

#prompt-wrapper{
  border-top: solid 1px var(--comp-col-02);
  color: var(--comp-col-02);
  font-size: 15px;
  padding-top: .15rem;
  padding-bottom: 1.5rem;
}

.InputSelectButton{
  font-size: 20px;
  width: 50%;
  padding: 0.4rem;
  background-color: var(--comp-col-01);
  color: var(--comp-col-02);
  border: 0;
  -webkit-appearance: none;
  font-family: 'Marr Sans Semibold';
  font-weight: normal;
  vertical-align: middle;
}

.ActiveInputButton{
  background-color: var(--comp-col-02);
  color: var(--comp-col-01);
}

#input-frame{
  flex-grow: 1;
  overflow: hidden;
}

#input-wrapper{
  position: relative;
  display: flex;
  width: 200%;
  left: 0%;
  background-color: var(--comp-col-02);
  height: 100%;
  transition: 1s;
}

@keyframes leftSwipe {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes rightSwipe {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

#text-input{
  position: relative;
  height: 100%;
  width: 50%;
  padding: 8px;
  resize: none;
  border: 0;
  background-color: var(--comp-col-02);
  font-size: 22px;
}

#drawing-wrapper{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#drawing-canvas-wrapper{
  width: 100%;
  height: 10%;
  flex-grow: 1;
  background-color: #f8f7f5;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' width='28' height='28'%3e%3ccircle cx='20' cy='20' r='2' fill='%2382718444' stroke='none' stroke-width='2' /%3e%3c/svg%3e");
  background-position: center;
}

.Active{
  filter: invert();
}

.SubmitResponseButton{
  height: 40px;
  background-color: var(--comp-col-03);
  color: var(--comp-col-01);
  border: none;
  padding: 0.4rem;
  margin-top: 0.25rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: 20px;
  font-family: 'Marr Sans Semibold';
  font-weight: normal;
}

.ResponseSubmitted{
  transition: 0.5s;
  background-color: var(--comp-col-04);
  color: var(--comp-col-02);
}

input[type=text] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* colour input */
input[type=color] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}

/* slider code */
input[type=range] {
  height: 31px;
  -webkit-appearance: none;
  width: 100%;
  background-color: var(--comp-col-02);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #002200;
  background: var(--comp-col-05);
  border-radius: 0px;
  border: 0px solid #18D501;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #00AA00;
  border: 0px solid var(--comp-col-05);
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: var(--comp-col-05);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--comp-col-05);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #002200;
  background: var(--comp-col-05);
  border-radius: 0px;
  border: 0px solid #18D501;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #00AA00;
  border: 0px solid var(--comp-col-05);
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: var(--comp-col-05);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--comp-col-05);
  border: 0px solid #18D501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #002200;
}
input[type=range]::-ms-fill-upper {
  background: var(--comp-col-05);
  border: 0px solid #18D501;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #002200;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #00AA00;
  border: 0px solid var(--comp-col-05);
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: var(--comp-col-05);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--comp-col-05);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--comp-col-05);
}

@media all and (prefers-reduced-motion) {
  #input-wrapper{
    transition: 0s;
  }
}
