button {
  color: var(--comp-col-02);
  cursor: pointer;
  border: 2px solid #e3e3e3;
  border-bottom-color: #979797; 
  border-right-color: #979797; 
}

#global-wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

#async-desktop-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Background Visuals */
#async-desktop-wrapper #bg-vis-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: black;
  z-index: 1;
  overflow: hidden;
}
#async-desktop-wrapper .gl-container{
  position: absolute;
  top:0%;
  left: 0%;
  z-index: 99;
}

/* Responses from the Server */
#async-desktop-wrapper #response-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
}
#async-desktop-wrapper .TextResponseBox{
  position: absolute;
  max-width: 20vw;
  margin: 0;
  font-size: max(1.0vw, 0.8em);
  color: var(--comp-col-02);  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
  opacity: 0; 
  text-align: center;
}
#async-desktop-wrapper .ImageResponseBox{
  position: absolute;
  width: 20vw;  
  opacity: 0;
}

/* Settings Menu */
#async-desktop-wrapper #settings-menu-wrapper{
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 3;
}
#async-desktop-wrapper .SettingsMenuButton{
  min-width: fit-content;
  padding: 0 1rem;
  background-color: var(--comp-col-01);
  font-size: 1.25rem;
  color: var(--comp-col-02);
  user-select: none;  
}
#async-desktop-wrapper .SettingsMenuButton:hover{
  background-color: var(--comp-col-02);
  color: var(--comp-col-01);
}
#async-desktop-wrapper .SettingsMenuButton.Active{
  color: var(--comp-col-04);
}
#async-desktop-wrapper #graphics-dropdown-wrapper{
  display: inline-flex;
  flex-direction: column;
}
#async-desktop-wrapper #graphics-dropdown{
  display: none;
  flex-direction: column;
}
#async-desktop-wrapper #settings-focus-button.Active{
  filter: invert();
}

/* Current Prompt */
#async-desktop-wrapper #current-prompt-wrapper{
  position: absolute;
  left: 25%;
  bottom: 70%;
  width: 50%;
  z-index: 3;
}
#async-desktop-wrapper #current-prompt{
  background-color: rgb(31, 33, 28);
  max-width: 100%;
  font-size: 1.5rem;  
  color: var(--comp-col-02);  
  user-select: none;
  text-align: center;
  padding: 0.5rem 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

/* select response */
#async-desktop-wrapper #ready-submission-button{
  position: relative;
  top: 45%;
  background-color: var(--comp-col-01);
  padding: 0.5rem 1rem;
  margin: 0 auto;
  font-size: 1.5rem;
  color: var(--comp-col-02);
  user-select: none;
  display: inline;
  z-index: 2;
  animation: buttonFade 3s ease-in 1;
}
#async-desktop-wrapper #ready-submission-button:hover{
  background-image: var(--comp-hoverlay);
}
@keyframes buttonFade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* Input Section */
#async-desktop-wrapper #input-wrapper{
  position: absolute;
  left: 25%;
  top: 45%;
  width: 50%;
  z-index: 3;
}
#async-desktop-wrapper #input-select-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
#async-desktop-wrapper #input-select{
  background-color: var(--comp-col-01);
  width: 100%;
  font-size: 1.5vw;  
  color: var(--comp-col-02);  
  user-select: none;
  text-align: center;
  padding: 0 1vw;
}
#async-desktop-wrapper .InputSelectButton{
  background-color: var(--comp-col-01);
  color: var(--comp-col-02);
  font-size: max(1.0vw, 0.8em);
  margin: 2px 0;
}
#async-desktop-wrapper .ActiveInputButton{
  background-color: var(--comp-col-02);
  color: var(--comp-col-01);
}
#async-desktop-wrapper .InputSelectButton:hover{
  background-image: var(--comp-hoverlay);
}

#async-desktop-wrapper #input-area{
  width: 100%;
  height: 25vh;
}
#async-desktop-wrapper #input-area::after{
  content: " ";
  position: absolute;
  height: calc(25vh - 12px);
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px solid var(--comp-col-01);
  z-index: 6;
  pointer-events: none;
}

/* Drawing Canvas */
#async-desktop-wrapper #drawing-canvas-wrapper{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 25vh;
  background-color: white;
  z-index: 4;
}
#async-desktop-wrapper #drawing-canvas{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Text Area Input */
#async-desktop-wrapper #text-input{
  position: relative;
  width: 100%;
  height: 25vh;
  margin: 0;
  padding: 8px;
  resize: none;
  border: 0;
  z-index: 5;
  font-size: 1.25vw;
  color: var(--comp-col-01);
}

/* Left Drawing Section */
#async-desktop-wrapper #drawing-buttons-wrapper{
  position: absolute;
  width: 15vh;
  height: 25vh;
  left: 0vh;
  bottom: 0%;  
  display: flex;
  flex-direction: column;
  transition: left 0.4s ease-out;
}
#async-desktop-wrapper .DrawingUIButton{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0%;
  background-color: var(--comp-col-02);
  color: var(--comp-col-01);
  font-size: min(1.5vw, 2vh);
}
#async-desktop-wrapper .DrawingUIButton:active{
  filter: invert();
}
#async-desktop-wrapper #brush-up-icon{
  height: 5vh;
  width: 5vh;
  background: no-repeat center/50vh url('./content/media/brush_plus.svg');
}
#async-desktop-wrapper #brush-down-icon{
  height: 5vh;
  width: 5vh;
  background: no-repeat center/50vh url('./content/media/brush_minus.svg');
}
#async-desktop-wrapper #erase-brush-button.Active{
  filter:invert();
}
#async-desktop-wrapper #eraser-icon{
  height: 5vh;
  width: 5vh;
  background: no-repeat center/50vh url('./content/media/eraser_pic.svg');
}
#async-desktop-wrapper #undo-icon{
  height: 5vh;
  width: 5vh;
  background: no-repeat center/50vh url('./content/media/undo.svg');
}
#async-desktop-wrapper #redo-icon{
  height: 5vh;
  width: 5vh;
  background: no-repeat center/50vh url('./content/media/redo.svg');
}

/* Right Drawing Section */
#async-desktop-wrapper #drawing-tools-wrapper{
  width: 25vh;
  height: 25vh;
  position: absolute;
  display: grid;
  grid-template-columns: 5% repeat(11, 1fr) 5%;
  grid-template-rows: 10% repeat(11, 1fr);
  right: 0vh;
  bottom: 0%;
  background-color: var(--comp-col-02);
  transition: right 0.4s ease-out;
}
#async-desktop-wrapper #col-swap-button{
  grid-row: 9/12;
  grid-column: 6/9;
  z-index: 4;
  background: none;
  stroke: var(--comp-col-01);
  fill: var(--comp-col-01);
}
#async-desktop-wrapper #col-swap-button:hover{
  background-image: var(--comp-hoverlay);
}
#async-desktop-wrapper #word-change{
  grid-row: 9/12;
  grid-column: 1/6;
  justify-self: end;
  align-self: center;
  margin-right: 0.75vh;
  pointer-events: none;
  font-size: min(1.5vw, 2vh);
  color: var(--comp-col-01);
}
#async-desktop-wrapper #word-colour{
  grid-row: 9/12;
  grid-column: 9/14;
  justify-self: start;
  align-self: center;
  margin-left: 0.75vh;
  pointer-events: none;
  font-size: min(1.5vw, 2vh);
  color: var(--comp-col-01);
}

#async-desktop-wrapper #col-select-wrapper{
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 60%;
}
#async-desktop-wrapper .col-select{
  position: absolute;
  border-style: ridge;
  border-width: 2px;
  padding: 2px;
  border-color: #222323;
}
#async-desktop-wrapper .col-select.first{
  top: 35%;
  left: 30.2%;
  width: 39.6%;
  height: 60%;
  z-index: 3;
}
#async-desktop-wrapper .col-select.second{  
  top: 0%;
  left: 60.4%;
  width: 39.6%;
  height: 60%;
  z-index: 2;
}
#async-desktop-wrapper .col-select.third{  
  top: 0%;
  left: 0%;
  width: 39.6%;
  height: 60%;
  z-index: 1;
}

/* Submit Response Button */
#async-desktop-wrapper #response-submit-button{
  position: relative;
  top: 75%;
  background-color: var(--comp-col-01);
  padding: 0.5rem 1rem;
  margin: 0 auto;
  font-size: 1.5rem;
  color: var(--comp-col-02);
  user-select: none;
  display: inline;
  opacity: 1;
  transition: 3s;
  z-index: 2;
}
#async-desktop-wrapper #response-submit-button:hover{
  background-image: var(--comp-hoverlay);
}

/* Audio Section */
#async-desktop-wrapper #audio-player-wrapper{
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  height: 5%;
  z-index: 4;
  display: flex;
}

#async-desktop-wrapper .AudioPlayerButton{
  width: 5vh;
  height: 5vh;
  background-color: var(--comp-col-03);
  padding: 0%;
}
#async-desktop-wrapper .AudioPlayerButton:hover{
  background-image: var(--comp-hoverlay);
}
#async-desktop-wrapper #volume-wrapper{
  width: 5vh;
  height: 20vh;
  background-color: #222323;
  border: 2px solid var(--comp-col-01);
  position: absolute;
  bottom: 100%;
  right: 0%;
  transform-origin: bottom;
  transform: scaleY(0%);
  transition: transform ease-out 0.2s;
  display: flex;
  flex-direction: column;
}
#async-desktop-wrapper #volume-section-wrapper:hover #volume-wrapper{
  transform: scaleY(100%);
}
#async-desktop-wrapper #timeline{
  flex-grow: 1;
  background-color: #222323;
}
/* timeline loading*/
#async-desktop-wrapper .timelineloading{
	background:repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(204, 204, 204, 0.377) 10px,
    rgba(204, 204, 204, 0.377) 20px
  ), #222323;
  animation: loading-anim 10s linear infinite;
  background-size: 200%;
}
@keyframes loading-anim {
  0%   { 
  background-position: left; 		
  }
  100% { 
    background-position: right;  
  }
 }
#async-desktop-wrapper #playhead{
  height: 100%;
  width: 0%;
  background-color: var(--comp-col-04);
}
/* old controls */
#async-desktop-wrapper #audio-control-wrapper{
  background-color: var(--comp-col-04);
  grid-column: 5/6;
  grid-row: 1/6;
}
#async-desktop-wrapper #mute-speaker{
  fill: var(--comp-col-01);
}
#async-desktop-wrapper .AudioPlayerIcon{
  fill: var(--comp-col-01);
  stroke: var(--comp-col-01);
}
#async-desktop-wrapper .MuteLines{
  opacity: 0.5;
  transition: 0.5s;
}
#async-desktop-wrapper .MuteLines.active{
  opacity: 1;
}
#async-desktop-wrapper .VolumeNotch{
  width: 100%;
  border: 0;
  background-color: var(--comp-col-03);
  opacity: 0.5;
  border-radius: 3px;
}
#async-desktop-wrapper .VolumeActive{
  opacity: 0.9;
}
#async-desktop-wrapper .VolumeNotch:hover{
  opacity: 1;
}
#async-desktop-wrapper #volume-wrapper:active{
  border: 4px solid var(--comp-col-01); 
}
#async-desktop-wrapper #volume-wrapper:active .VolumeHover{
  opacity: 0.7;
}

/* Mobile Text */
#async-desktop-wrapper #mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16rem;
  height: 100%;
}
#async-desktop-wrapper #mobile-text {
  font-size: 6rem;
  color: var(--comp-col-02);
  user-select: none;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  text-align: center;
  white-space: pre-line;
  margin: auto 0;
}